body {
    color: #999;
}

.game-field {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    background-color: #f0f0f0;
    padding: 10px;
    width: fit-content;
    margin: auto;
}

.game-field div {
    border: 1px solid #000;
    height: 100px;
    position: relative;
}

.character {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
}

h1 {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 600px;
    margin: 20px auto;
    border-top: 20px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th:hover {
    cursor: pointer;
}